*{
    margin: 0px;
    text-decoration:none ;
}
/*nav-bar*/
#navbar{
    position: fixed;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
}
#navbar ul{
    list-style: none;
    display: flex;
    padding-right:30px ;
}
#navbar a{
    padding: 20px 20px;
    display: block;
}
#navbar a:hover{
    background-color:white;
    color:blue;
}
.nav-link{
    color: white;
}
@media (max-width:400px) {
    #navbar ul{
        padding-right: 15px;
    }
    #navbar a{
        padding: 15px 15px;
    }
}

/*Welcome section*/

#welcome-section{
    height: 100vh;
    width: 100%;
    background-color:aqua;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#welcome-section h1{
    font-size: 100px;
}

/*Projects-section*/

#projects{
    background-color:burlywood;
}
#projects h2{
    text-align: center;
    padding: 80px 0 20px 0;
    text-decoration-line: overline underline;
}
.project-tile{
    text-decoration: none;
}
#projects ul{
    list-style: none;
    padding: 0;
}
#projects li{
    border:groove;
    border-radius: 3%;
    background-color:black;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 30px 40px ;
    margin:10px;
}
.product-image{
    width: 100%;
    height: auto;
    
}
.project-description{
    text-align: center;
    color:cornsilk;
    padding: 10px 0;
}
.github-profile-btn{
    display: block;
    margin:auto;
    width: fit-content;
    padding: 10px 0 25px 0;
}
.github-link input{
    padding: 10px ;
}
@media (max-width:500px) {
    h1{
        font-size: medium;
    }
    .grid-container{
        grid-template-columns: 1fr ;
    }
}
