:root{
    --main-primary:#1c1c72;
    --main-text:white;
    --sub-analogous:#0000ff;
}
*{
    margin: 0px;
    text-decoration:none ;
    color: black;
    box-sizing:border-box;
}
/*nav-bar*/
#navbar{
    position: fixed;
    width: 100%;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: flex-end;
}
#navbar ul{
    list-style: none;
    display: flex;
    padding-right:30px ;
}
#navbar a{
    padding: 20px 20px;
    display: block;
    color:white;
}
#navbar a:hover{
    background-color:white;
    color:black;
}
.nav-link{
    font-size: 20px;
    white-space: nowrap;
}
.nav-link i{
    padding-right: 5px;
}
@media (max-width:420px) {
    #navbar ul{
        padding-right: 5px;
    }
    #navbar a{
        padding: 13px 10px;
    }
}

/*Welcome section*/

#welcome-section{
    height: 100vh;
    width: 100%;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#welcome-section h1 *{
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
}
#welcome-section h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
#welcome-section p{
    font-size: 20px;
    text-transform: capitalize;
    color:yellow;
}

/*Projects-section*/

#projects{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-bottom: 30px;
}
#projects h2{
    text-transform: capitalize;
    text-align: center;
    padding: 80px 0 20px 0;
    text-decoration-line: overline underline;
    font-family: 'Merienda', cursive;
    color: white;
}
.project-tile{
    text-decoration: none;
}
#projects ul{
    list-style: none;
    padding: 0;
}
#projects li{
    text-transform: capitalize;
    border:groove;
    border-radius: 3%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 30px 40px ;
    margin:10px;
}
.product-image{
    width: 100%;
    height: auto;
    
}
.project-description{
    text-align: center;
    color:cornsilk;
    padding: 10px 0;
    font-family: 'Mate SC', serif;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width:500px) {
    h1{
        font-size: medium;
    }
    .grid-container{
        grid-template-columns: 1fr ;
    }
}

/*Contact section*/

.total-contact-section{
    background-color:rgb(104, 167, 10);
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total-contact-section h2{
    text-transform: capitalize;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
}
.total-contact-section h2 *{
    font-family: 'Do Hyeon', sans-serif;
    color: whitesmoke;
}
.contact-section-description{
    font-size: 20px;
    color: yellow;
    text-transform: capitalize;
}
.sep-contact-link{
    display: flex;
    font-size: 30px;
    margin: 20px 20px 0px 20px;
}
.contact-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: capitalize;
    font-family: 'Mate SC', serif;
    font-weight: 600;
}
.contact-links i{
    padding-right: 5px;
}
footer{
    height: 4vh;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-weight: bolder;
    color: white;
}
