*{
    margin: 0px;
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: blue;
    padding: 10px 0px;
}
.nav-link{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#welcome-section{
    height: 100vh;
    width: 100%;
    background-color:aqua;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects{
    display: flex;
    flex-wrap: wrap;
}
.git-hub-link img{
    transform: scale(.3,.3);
}
.project-tile{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.project-tile img{
    max-width: 400px;
    height: auto;
}
@media (max-size:500px) {
    h1{
        font-size: medium;
    }
}
